.title {
    margin-top: 16px;
    font-size: 18px;
    font-weight: bold;
  }
  
.board {
    border: 1px solid #dddddd;
    padding: 0px 24px 24px 24px;
  }
  
.row {
    display: flex;
    flex-direction: row;
  }
  
.items {
    flex: 1;
    padding-top: 24px;
    font-size: 18px;
    font-weight: bold;
  }
  