.title {
  margin-top: 16px;
  font-size: 18px;
  font-weight: bold;
}

.board {
  border: 1px solid #dddddd;
  padding: 0px 24px 24px 24px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.wrap {
  flex-wrap: wrap;
}

.items {
  padding-top: 24px;
  font-size: 18px;
  font-weight: bold;
  margin-right: 10px; 
}
