
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 78px;
  background-color: white;
}

.backIcon{
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-left: 24px;
}

.company{
  font-size: 24px;
  font-weight: bold;
}

.user{
  font-size: 16px;
  margin-right: 24px;
  margin-top: 32px;
}


