.ctnOptions {
  display: flex;
  flex-direction: row;
  margin-left: 64px;
  margin-top: 32px;
}

.optionEnabled {
  display: flex;
  justify-content: center;
  background-color: white;
  font-size: 18px;
  padding-top: 16px;
  padding-bottom: 16px;
  width: 150px;
  border: 1px solid #DDDDDD;
  cursor: pointer;
}

.optionsDisabled {
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.5);;
  font-size: 18px;
  color: rgba(44, 40, 41, 0.5);
  padding-top: 16px;
  padding-bottom: 16px;
  width: 150px;
  border: 1px solid #DDDDDD;
  cursor: pointer;
}

.painel {
  background-color: white;
  margin-left: 24px;
  margin-right: 24px;
  padding: 24px;
  border: 1px solid #DDDDDD;
  border-radius: 0px;
}

.painelDetails {
  background-color: white;
  margin-left: 24px;
  margin-right: 24px;
  padding: 24px;
  border: 1px solid #DDDDDD;
  border-radius: 0px;
  margin-top: 32px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  color: #027BC2;
  text-decoration: underline;
}

.btnGroup {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 24px;
  margin-top: 16px;
}

.btnModalGroup {
  display: flex;
  justify-content: flex-end;
  margin-top: 24px;
}

.btnModalFinish {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}

.marginBotton {
  margin-bottom: 24px;
}

.titleModal {
  font-size: 24px;
  color: #027BC2;
  font-weight: bold;
}

.ctnRadio {
  display: flex;
  flex-direction: row;
  margin-top: 24px;
}

.titleRadio {
  font-size: 18px;
  font-weight: bold;
  padding-top: 10px;
  padding-right: 16px;
}

.description {
  font-size: 18px;
  font-weight: bold;
  margin-top: 24px;
}

.ctnCheck {
  display: flex;
  flex-direction: row;
  margin-right: 24px;
}

.titleCheck {
  font-size: 18px;
  font-weight: bold;
  padding-top: 10px;
  padding-right: 4px;
}

